# 1. def (define): 함수를 위한 정의

**def 함수이름 (parameter1, parameter2, ...):**

*끝에 콜론 (:) 꼭 넣는다!

In [0]:
 def my_func():
     print('hello')

In [0]:
my_func()

hello

In [0]:
def my_func(hello):
    print(hello)

In [0]:
my_func('안녕')

안녕

##### -> my_func 함수 실행한다
##### -> 변수명(hello)에 '안녕' 대입한다

# 2. 리턴

## 2-1. 리턴이 없는 경우

In [0]:
def my_func(a, b):
       print(a, b)

In [0]:
my_func(1, 2)

1 2

## 2-2. 리턴이 있는 경우

In [0]:
def my_func(a, b):
    r = a + b
    return r

In [0]:
my_func(1,2)

3

변수(result)에 함수에 대한 리턴 값을 담는다

In [0]:
result = my_func (1,2)

In [0]:
result

3

리턴이 있는 경우는 변수에 값을 다시 할당 할 수 있다

In [0]:
ret = my_func(1, 2)

In [0]:
print(ret)

3

In [0]:
print(ret + 10)

13

# 3. parameter의 순서에 따라 출력값이 달라진다

In [0]:
def my_func(a, b, c):
    return (a + b) * c

In [0]:
a = 10
b = 2
c = 1

In [0]:
my_func(a, b, c)

12

In [0]:
my_func(b, c, a)

30

##### -> ( b + c ) * a
##### -> ( 2 + 1 ) * 10